################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS3_Game_Tool/bin/Debug/PKG
/PS3_Game_Tool/bin/Debug/temp/Pkg/NxVLvCYVmRedPYfdKpiDCJcxAbfPeUlZsdTHkwopcCCsFHlAvDchUivyDAFYaVvYnlPrypLsMaZDIPmNgVloZFLvfEImVbOeglHLX/USRDIR/CONTENT
/PS3_Game_Tool/bin/Debug/Work
/.vs/PS3gbs/v15
/.vs/PS3_Game_Tool/v15/Server/sqlite3
/PS3_Game_Tool/bin/Debug/Game Files
/PS3_Game_Tool/bin/Debug/icons
/PS3_Game_Tool/bin/Debug/ISO
/PS3_Game_Tool/bin/Debug/SFO
