################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS3_Game_Tool/bin/Debug/PKG
/PS3_Game_Tool/bin/Debug/temp/Pkg/NxVLvCYVmRedPYfdKpiDCJcxAbfPeUlZsdTHkwopcCCsFHlAvDchUivyDAFYaVvYnlPrypLsMaZDIPmNgVloZFLvfEImVbOeglHLX/USRDIR/CONTENT
/PS3_Game_Tool/bin/Debug/Work
